{{!master(layout/_master.tmpl)}}
<h1 id="{{htmlId}}">
  {{name}}
</h1>

{{>partials/versions}}
{{>partials/affix-mobile}}

{{#summary}}
  <h2 id="summary">
    {{__global.arcpySummary}}
  </h2>

  <div data-summary>
    {{{summary}}}
  </div>
{{/summary}}

{{#discussion}}
  <h2 id="discussion">
    {{__global.arcpyDiscussion}}
  </h2>
  
  {{{discussion}}}
{{/discussion}}

{{#callable}}
  <h2 id="syntax">
    {{__global.arcpySyntax}}
  </h2>
  {{{class_syntax}}}
  {{#has_params}}
    <table data-param-table>
      <tr>
        <th>
          {{__global.gpName}}
        </th>
        <th>
          {{__global.gpExplanation}}
        </th>
        <th>
          {{__global.gpDataType}}
        </th>
      </tr>
      {{#params}}
      <tr data-param="{{name}}">
        <td>
          <p>
            <span data-name>{{name}}</span>
          </p>
          {{^required}}
            {{__global.gpOptional}}
          {{/required}}
        </td>
        <td data-desc>
          {{{desc}}}
        </td>
        <td>
          <p><span data-datatype>{{{datatype}}}</span></p>
        </td>
      </tr>
      {{/params}}
    </table>
  {{/has_params}}
{{/callable}}

{{#has_properties}}
  <h2 id="properties">
    {{__global.arcpyProperties}}
  </h2>
  <table data-param-table>
    <tr>
      <th>
        {{__global.gpName}}
      </th>
      <th>
        {{__global.gpExplanation}}
      </th>
      <th>
        {{__global.gpDataType}}
      </th>
    </tr>
    {{#properties}}
    <tr data-param="{{name}}">
      <td>
        <p>
          <span data-name>{{name}}</span>
        </p>
        {{#read_only}}
          {{__global.arcpyReadOnly}}
        {{/read_only}}
        {{^read_only}}
          {{__global.arcpyReadWrite}}
        {{/read_only}}
      </td>
      <td data-desc>
        {{{desc}}}
      </td>
      <td>
        <p><span data-datatype>{{{datatype}}}</span></p>
      </td>
    </tr>
    {{/properties}}
  </table>
{{/has_properties}}

{{#has_methods}}
  <h2 id="methods">
    {{__global.arcpyMethods}}
  </h2>
  {{#methods}}
    <h3 id="method-{{name}}" purpose="method-syntax">
      <code>{{{method_syntax}}}</code>
    </h3>
    {{{summary}}}

    {{#has_params}}
      <table data-method-param-table>
        <tr>
          <th>
            {{__global.gpName}}
          </th>
          <th>
            {{__global.gpExplanation}}
          </th>
          <th>
            {{__global.gpDataType}}
          </th>
        </tr>
        {{#params}}
        <tr data-param="{{name}}">
          <td>
            <p>
              <span data-name>{{name}}</span>
            </p>
            {{^required}}
              {{__global.gpOptional}}
            {{/required}}
          </td>
          <td data-desc>
            {{{desc}}}
          </td>
          <td>
            <p><span data-datatype>{{{datatype}}}</span></p>
          </td>
        </tr>
        {{/params}}
      </table>
    {{/has_params}}

    {{#has_return_value}}
      <h4 id="method-return-value-{{name}}">
        {{__global.arcpyReturnValue}}
      </h4>
        <table data-method-param-table>
        <tr>
          <th>
            {{__global.gpDataType}}
          </th>
          <th>
            {{__global.gpExplanation}}
          </th>
        </tr>
        {{#return_value}}
      <tr data-datatype=>
        <td>
          <p>
            <span data-type>{{{datatype}}}</span>
          </p>
        </td>
        <td data-desc>
          {{{desc}}}
        </td>
      </tr>
      {{/return_value}}
      </table>
    {{/has_return_value}}

    {{#has_code_samples}}
      {{#code_samples}}
        <div purpose="code-sample-title">
          {{{title}}}
        </div>
        {{{desc}}}
        {{{sample}}}
      {{/code_samples}}
    {{/has_code_samples}}

  {{/methods}}
{{/has_methods}}

{{#has_return_value}}
  <h2 id="return-value">
    {{__global.gpReturnValue}}
  </h2>
  <table data-return-table="python">
    <tr>
      <th>
        {{__global.gpName}}
      </th>
      <th>
        {{__global.gpExplanation}}
      </th>
      <th>
        {{__global.gpDataType}}
      </th>
    </tr>
    {{#return_value}}
    <tr data-param="{{name}}">
      <td>
        <p>
          <span data-name="{{name}}">{{name}}</span>
        </p>
      </td>
      <td data-desc="{{name}}">
        {{#desc}}
          {{{desc.desc_python}}}
        {{/desc}}
      </td>
      <td>
        <p><span data-datatype="{{name}}">{{datatype}}</span></p>
      </td>
    </tr>
    {{/return_value}}
  </table>
{{/has_return_value}}

{{#has_code_samples}}
  <h2>
    {{__global.arcpyCodeSample}}
  </h2>
  {{#code_samples}}
    <div purpose="code-sample-title">
      {{{title}}}
    </div>
    {{{desc}}}
    {{{sample}}}
  {{/code_samples}}
{{/has_code_samples}}

{{#related_topics_md}}
  <h2 id="related-topics">
    {{__global.gpRelatedTopics}}
  </h2>
  {{{related_topics_md}}}
{{/related_topics_md}}